body {
  margin: 0;
    height: 100vh;/*" vh: (viewport height) in pixels (px) is the full height of the user's screen or browser window   "*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
    overflow: hidden;}
.Login_card{

    background-color: white; 
            backdrop-filter: blur(10px); 
            
            width: 350px;
            padding: 40px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0 8px 32px rgba(255, 255, 255, 0.2); 
            text-align: center;
  
}

.Login_card h1{
    text-align: center;
    color: #007bff;
}

.Login_card a:hover {
    color: #0056b3;
}

.LL-container{
    display: flex;             
    width: 700px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    cursor: pointer;
}

.left_card{
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #006494;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    background-color: #006494;
    
}
.video{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
            

}

.welcome-text{
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
}


input {
            width: 100%;
            padding: 22px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-sizing: border-box;
            transition: 0.3s;
        }
.input-box-u input:focus,
.input-box-p input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
    transition: 0.3s;
 }

.Logbtn{
    width: 100%;
            padding: 12px;
            background-color: #00A6FB;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            transition: 0.3s;
            
}
.Logbtn:hover {
  background-color: #0056b3;
}

.Register{
    color: #666;
}

input[type="checkbox"] {
    width: auto;
    padding: 0;
    
}
.remmember_me {
    color: #007bff;
     display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #007bff;
}

.welcome-text h2 {
    font-size: 36px;   
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 14px;
    opacity: 0.9;
}