





body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #ffffff;
}

.elmorba3 {
    background-color: white;
    width: 900px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
}

.left-elmorba3 {
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #006494;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 
.welcome-text {
    position: relative;
    z-index: 3;
    padding: 20px;
}

.welcome-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.right-elmorba3 {
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
 }

 

input, select {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f0f2f5;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
 }

button {
    width: 100%;
    padding: 15px;
    background-color: #084b72;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #1d7db4;
}

.Google {
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
    margin-top: 15px;
}

.footer-link {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #666;
}

.footer-link a {
    color: #00A6FB;
    text-decoration: none;
    font-weight: 600;
}